In [1]:
import pandas as pd

In [24]:
df = pd.read_csv("C:/Users/kirtan/Documents/AI/class_city_dataset/City_dataset - Sheet1.csv")
df

               Name Districts/City
0        Kushal sir         Bhopal
1           Shravan        Jodhpur
2      Vidya Bharti           Gaya
3   Ankita Pancholi         Jaipur
4            Kirtan      Rajsamand
5            Shivam         Nawada
6             Sonal          Patna
7           Animesh      Raebareli
8           Raushan      Bhagalpur
9            Bharat        Bikaner
10         Narendra        Jodhpur
11          Shekhar         Niwari
12        Divyansh       Mirzapur
13           Suraj       Mirzapur
14           Ranjan            Ara
15          Narayan           Amet
16        Deependra      Prayagraj

In [25]:
city = set(df['Districts/City'])

In [26]:
# pip install tabula-py pandas

In [27]:
city

{'Amet',
 'Ara',
 'Bhagalpur',
 'Bhopal',
 'Bikaner',
 'Gaya',
 'Jaipur',
 'Jodhpur',
 'Mirzapur ',
 'Nawada',
 'Niwari',
 'Patna',
 'Prayagraj',
 'Raebareli',
 'Rajsamand'}

In [28]:
import tabula
import pandas as pd

# Replace 'input.pdf' with the path to your PDF file
pdf_file = "C:/Users/kirtan/Documents/AI/class_city_dataset/City Info.pdf"

# Specify the page number(s) from which you want to extract tables
# You can use page numbers or 'all' to extract tables from all pages
pages = '1'

# Read the PDF file and extract tables
df_list = tabula.read_pdf(pdf_file, pages=pages, multiple_tables=True)

# Combine all extracted tables into one DataFrame (assuming they have the same structure)
combined_df = pd.concat(df_list, ignore_index=True)

# Replace NaN values with empty strings or any other desired value
combined_df.fillna('', inplace=True)

# Replace 'output.csv' with the desired CSV file name
csv_file = 'city.csv'

# Save the combined DataFrame as a CSV file
combined_df.to_csv(csv_file, index=False)

In [29]:
df2 = pd.read_csv('city.csv')
df2

                           Name    City/District
0          Ram Bhanwar Bhadiyar          Jodhpur
1                         Anshu           Mahoba
2               Prakash Marandi            Pakur
3                    Mayank Rai            Sagar
4                 Rashmi kumari           Nawada
5                  Aakash Kumar          Baghpat
6              Saurabh Agrahari         Mirzapur
7                 Saurabh yadav         ghazipur
8                 Anshul Sharma           Jaipur
9                 Swarnali Saha         Durgapur
10          Satyam Kumar Pandey       Chitrakoot
11                 Puneet Kumar        Daudnagar
12                  Harsh Rawat          Aligarh
13                 Nikhil Yadav        shujalpur
14               Pallavi Maurya          Sitapur
15               Jitendra Kumar           Rohtas
16              Nikhil Raj Soni           Palamu
17                Deepali Tomar          Baghpat
18                 Pankaj Rishi           Araria
19                SANDEEP KUMAR          DHOLPUR
20                   Sanjay v p          Calicut
21           Mayank Singh Tomar           Morena
22                   Manu Kumar           Rohtas
23                   Ajay kumar           ARARIA
24               Anamika Kumari        Jehanabad
25               Mallesh kamati         belagavi
26              KAJOL KASHIPURI         BALAGHAT
27          Suresh Singh Panwar        Rajsamand
28                  Aakash Deep    Sriganganagar
29              Manvendra Singh        Rajsamand
30                 Nikhil Verma  Lakhimpur kheri
31                Pradeep Kumar          Sitapur
32                Rajat Malviya             Kota
33              Gajanand Mourya            Sikar
34                Yash Chittora            Bundi
35               saksham Bharti              una
36                  Sahil kumar        Sitamarhi
37                 Amit Diwakar             Agra
38               Rijwith Mamidi      hanumakonda
39                Hemant Jangde        Sarangarh
40  Yashwardhan Singh Chundawat        Rajsamand
41                        Ritik        Madhepura

In [30]:
city2 = set(df2['City/District'])
city2

{'ARARIA',
 'Agra',
 'Aligarh',
 'Araria',
 'BALAGHAT',
 'Baghpat',
 'Bundi',
 'Calicut',
 'Chitrakoot',
 'DHOLPUR',
 'Daudnagar',
 'Durgapur',
 'Jaipur',
 'Jehanabad',
 'Jodhpur',
 'Kota',
 'Lakhimpur kheri',
 'Madhepura',
 'Mahoba',
 'Mirzapur',
 'Morena',
 'Nawada',
 'Pakur',
 'Palamu',
 'Rajsamand',
 'Rohtas',
 'Sagar',
 'Sarangarh',
 'Sikar',
 'Sitamarhi',
 'Sitapur',
 'Sriganganagar',
 'belagavi',
 'ghazipur',
 'hanumakonda',
 'shujalpur',
 'una'}

In [33]:
cities = (city.union(city2))

In [35]:
cities = list(cities)

In [37]:
df3 = pd.read_csv("student_city_assignments.csv")
df3

      Student           City 1         City 2
0       Ajeet         Durgapur        Aligarh
1       Sahil        Sarangarh        Baghpat
2     Animesh        Prayagraj          Patna
3      Ankita           Araria       ghazipur
4       Anmol            Sikar           Gaya
5    Ashutosh            Sagar            una
6      Bharat           Rohtas      Jehanabad
7   Deependra        Rajsamand      Bhagalpur
8    Divyansh  Lakhimpur kheri          Pakur
9     Nagmani           Palamu          Bundi
10     Kirtan           Mahoba           Amet
11    Narayan        Madhepura      Raebareli
12   Narendra              Ara      Daudnagar
13     Pankaj             Kota        Bikaner
14     Ranjan        Mirzapur        belagavi
15    Raushan      hanumakonda      Sitamarhi
16     Shadab           Morena         Nawada
17    Shekhar           Bhopal           Agra
18     Shivam         Mirzapur  Sriganganagar
19      Sonal          Jodhpur        DHOLPUR
20      Suraj          Calicut         ARARIA
21     Vidhya          Sitapur     Chitrakoot
22    Shravan         BALAGHAT         Jaipur

['Jodhpur',
 'Pakur',
 'Amet',
 'Calicut',
 'Niwari',
 'Palamu',
 'Jehanabad',
 'DHOLPUR',
 'Bundi',
 'Durgapur',
 'Chitrakoot',
 'ghazipur',
 'Bikaner',
 'Rajsamand',
 'Mirzapur ',
 'Madhepura',
 'ARARIA',
 'Aligarh',
 'Morena',
 'Ara',
 'shujalpur',
 'belagavi',
 'Agra',
 'Sagar',
 'Sriganganagar',
 'Mirzapur',
 'Araria',
 'Bhagalpur',
 'Sarangarh',
 'BALAGHAT',
 'Jaipur',
 'Rohtas',
 'Nawada',
 'Patna',
 'Prayagraj',
 'Sikar',
 'Gaya',
 'Sitamarhi',
 'Kota',
 'una',
 'hanumakonda',
 'Bhopal',
 'Sitapur',
 'Baghpat',
 'Lakhimpur kheri',
 'Mahoba',
 'Raebareli',
 'Daudnagar']

In [10]:
len(cities)

48

In [11]:
len(df2['Name'])

42

In [12]:
# pip install googlemaps

In [13]:
# import googlemaps
# import itertools
# import pandas as pd

# # Replace 'YOUR_API_KEY' with your actual Google Maps API key
# api_key = "0f3317fb50f50cc2ddc0ea28259c8ba1"
# gmaps = googlemaps.Client(key=api_key)

# # List of cities for which you want to calculate distances
# cities = cities  # Replace with your list of cities

# # Generate all pairs of cities
# city_pairs = list(itertools.combinations(cities, 2))

# # Initialize lists to store data
# from_city = []
# to_city = []
# road_distances = []
# flight_distances = []

# # Calculate distances
# for (city1, city2) in city_pairs:
#     # Calculate road distance using Google Maps Directions API
#     directions = gmaps.directions(city1, city2, mode="driving")
#     road_distance_meters = directions[0]['legs'][0]['distance']['value']
#     road_distance_km = road_distance_meters / 1000.0

#     # Calculate flight distance (as the crow flies) using Google Maps Distance Matrix API
#     matrix = gmaps.distance_matrix(city1, city2)
#     flight_distance_meters = matrix['rows'][0]['elements'][0]['distance']['value']
#     flight_distance_km = flight_distance_meters / 1000.0

#     # Append data to lists
#     from_city.append(city1)
#     to_city.append(city2)
#     road_distances.append(road_distance_km)
#     flight_distances.append(flight_distance_km)

# # Create a DataFrame
# data = {
#     'From City': from_city,
#     'To City': to_city,
#     'Road Distance (km)': road_distances,
#     'Flight Distance (km)': flight_distances
# }
# df = pd.DataFrame(data)

# # Save the DataFrame to a CSV file
# df.to_csv('city_distances.csv', index=False)

In [14]:
# pip install ipstack

In [15]:
# import ipstack
# import itertools
# import pandas as pd
# from math import radians, sin, cos, sqrt, atan2

# # Replace 'YOUR_API_KEY' with your actual ipstack API key
# api_key = '0f3317fb50f50cc2ddc0ea28259c8ba1'
# ipstack_client = ipstack.Client(api_key)

# # List of cities for which you want to calculate distances
# cities = cities # Replace with your list of cities

# # Generate all pairs of cities
# city_pairs = list(itertools.combinations(cities, 2))

# # Initialize lists to store data
# from_city = []
# to_city = []
# road_distances = []
# flight_distances = []

# # Function to calculate distance using Haversine formula
# def haversine(lat1, lon1, lat2, lon2):
#     # Radius of the Earth in kilometers
#     radius = 6371.0

#     # Convert latitude and longitude from degrees to radians
#     lat1 = radians(lat1)
#     lon1 = radians(lon1)
#     lat2 = radians(lat2)
#     lon2 = radians(lon2)

#     # Haversine formula
#     dlon = lon2 - lon1
#     dlat = lat2 - lat1
#     a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
#     c = 2 * atan2(sqrt(a), sqrt(1 - a))
#     distance = radius * c

#     return distance

# # Calculate distances
# for (city1, city2) in city_pairs:
#     # Get location information for city1
#     location1 = ipstack_client.get_location(city1)
#     lat1 = location1.latitude
#     lon1 = location1.longitude

#     # Get location information for city2
#     location2 = ipstack_client.get_location(city2)
#     lat2 = location2.latitude
#     lon2 = location2.longitude

#     # Calculate road distance using Haversine formula
#     road_distance = haversine(lat1, lon1, lat2, lon2)

#     # Calculate flight distance (as the crow flies) using Haversine formula
#     flight_distance = haversine(lat1, lon1, lat2, lon2)

#     # Append data to lists
#     from_city.append(city1)
#     to_city.append(city2)
#     road_distances.append(road_distance)
#     flight_distances.append(flight_distance)

# # Create a DataFrame
# data = {
#     'From City': from_city,
#     'To City': to_city,
#     'Road Distance (km)': road_distances,
#     'Flight Distance (km)': flight_distances
# }
# df = pd.DataFrame(data)

# # Save the DataFrame to a CSV file
# df.to_csv('city_distances.csv', index=False)

In [38]:
import requests
import itertools
import pandas as pd
from math import radians, sin, cos, sqrt, atan2

# Replace 'YOUR_API_KEY' with your actual ipstack API key
api_key = '0f3317fb50f50cc2ddc0ea28259c8ba1'

# Function to get location information for a city
def get_location(city):
    base_url = 'http://api.ipstack.com/'
    response = requests.get(f'{base_url}{city}?access_key={api_key}')
    data = response.json()
    return data['latitude'], data['longitude']

# List of cities for which you want to calculate distances
cities = cities  # Replace with your list of cities

# Generate all pairs of cities
city_pairs = list(itertools.combinations(cities, 2))

# Initialize lists to store data
from_city = []
to_city = []
road_distances = []
flight_distances = []

# Function to calculate distance using Haversine formula
def haversine(lat1, lon1, lat2, lon2):
    # Radius of the Earth in kilometers
    radius = 6371.0

    # Convert latitude and longitude from degrees to radians
    lat1 = radians(lat1)
    lon1 = radians(lon1)
    lat2 = radians(lat2)
    lon2 = radians(lon2)

    # Haversine formula
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))
    distance = radius * c

    return distance

# Calculate distances
for (city1, city2) in city_pairs:
    # Get location information for city1
    lat1, lon1 = get_location(city1)

    # Get location information for city2
    lat2, lon2 = get_location(city2)

    # Calculate road distance using Haversine formula
    road_distance = haversine(lat1, lon1, lat2, lon2)

    # Calculate flight distance (as the crow flies) using Haversine formula
    flight_distance = haversine(lat1, lon1, lat2, lon2)

    # Append data to lists
    from_city.append(city1)
    to_city.append(city2)
    road_distances.append(road_distance)
    flight_distances.append(flight_distance)

# Create a DataFrame
data = {
    'From City': from_city,
    'To City': to_city,
    'Road Distance (km)': road_distances,
    'Flight Distance (km)': flight_distances
}
df = pd.DataFrame(data)

# Save the DataFrame to a CSV file
df.to_csv('city_distances.csv', index=False)

KeyError: 'latitude'

In [17]:
import random as r

In [18]:
student = list(df['Name'])
student

['Kushal sir',
 'Shravan',
 'Vidya Bharti',
 'Ankita Pancholi',
 'Kirtan',
 'Shivam',
 'Sonal',
 'Animesh',
 'Raushan',
 'Bharat',
 'Narendra',
 'Shekhar',
 'Divyansh ',
 'Suraj ',
 'Ranjan',
 'Narayan',
 'Deependra']

In [19]:
# cities.pop()

In [23]:
cities

['Jodhpur',
 'Pakur',
 'Amet',
 'Calicut',
 'Niwari',
 'Palamu',
 'Jehanabad',
 'DHOLPUR',
 'Bundi',
 'Durgapur',
 'Chitrakoot',
 'ghazipur',
 'Bikaner',
 'Rajsamand',
 'Mirzapur ',
 'Madhepura',
 'ARARIA',
 'Aligarh',
 'Morena',
 'Ara',
 'shujalpur',
 'belagavi',
 'Agra',
 'Sagar',
 'Sriganganagar',
 'Mirzapur',
 'Araria',
 'Bhagalpur',
 'Sarangarh',
 'BALAGHAT',
 'Jaipur',
 'Rohtas',
 'Nawada',
 'Patna',
 'Prayagraj',
 'Sikar',
 'Gaya',
 'Sitamarhi',
 'Kota',
 'una',
 'hanumakonda',
 'Bhopal',
 'Sitapur',
 'Baghpat',
 'Lakhimpur kheri',
 'Mahoba',
 'Raebareli',
 'Daudnagar']

In [20]:
len(cities)

48

In [21]:
# student = ['Ajeet', 'Sahil', 'Animesh', 'Ankita', 'Anmol', 'Ashutosh', 'Bharat', 'Deependra', 'Divyansh', 'Nagmani', 'Kirtan', 'Narayan', 'Narendra', 'Pankaj', 'Ranjan', 'Raushan', 'Shadab', 'Shekhar', 'Shivam', 'Sonal', 'Suraj', 'Vidhya', 'Shravan']
# len(student)

In [22]:
# import random
# import csv

# # List of cities (46 cities)
# cities = cities  # Replace with your list of cities

# # List of students (23 students)
# students = student  # Replace with your list of students

# # Shuffle the list of cities to randomize the order
# random.shuffle(cities)

# # Initialize a dictionary to store city assignments for students
# student_assignments = {student: [] for student in students}
# remaining_cities = cities.copy()

# # Assign one pair of cities to each student
# for student in students:
#     if len(remaining_cities) >= 2:
#         assigned_cities = remaining_cities[:2]
#         remaining_cities = remaining_cities[2:]
#         student_assignments[student] = assigned_cities
#     else:
#         break

# # Define the CSV file name
# csv_file = "student_city_assignments.csv"

# # Write the assignments to the CSV file
# with open(csv_file, "w", newline="") as csvfile:
#     csvwriter = csv.writer(csvfile)
#     csvwriter.writerow(["Student", "City 1", "City 2"])
    
#     for student, assigned_cities in student_assignments.items():
#         if len(assigned_cities) == 2:
#             city1, city2 = assigned_cities
#             csvwriter.writerow([student, city1, city2])

# print(f"Student-city assignments have been saved to {csv_file}.")